<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898952890813-kifvstaat6te1uh786740mh1e8pp3a9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898952890813-kifvstaat6te1uh786740mh1e8pp3a9q</string>
	<key>API_KEY</key>
	<string>AIzaSyBAgzu-NxCXwM6p1xq2UpXXfU5P3Hte4GA</string>
	<key>GCM_SENDER_ID</key>
	<string>898952890813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keleyaApp</string>
	<key>PROJECT_ID</key>
	<string>keleya-48e05</string>
	<key>STORAGE_BUCKET</key>
	<string>keleya-48e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898952890813:ios:f19653d3ae1bef07a42ad4</string>
</dict>
</plist>